form {
    width: 700px;
}

fieldset {
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 15px;
}

legend {
    font-size: 18px bold;
    font-weight: bold;
    color: #007bff;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

#checkbox, #radio {
    width: auto;
    margin-right: 5px;
}

#submit {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}